body {
  background-image: url("https://static.vecteezy.com/system/resources/previews/004/969/865/non_2x/dark-minimal-waves-abstract-background-free-vector.jpg");
  background-size: cover;
  background-position: center;
}

.container {
  display: flex;
  align-items: flex-start; /* Alinha a imagem e o texto no topo */
  padding: 20px;
  justify-content: space-between; /* Espaça os elementos de forma flexível */
  flex-direction: row-reverse; /* Inverte a ordem dos elementos */
}

img {
  max-width: 300px;
  max-height: 300px;
  margin-left: 20px; /* Espaço entre o texto e a imagem */
}

.text-content {
  max-width: 600px; /* Limita a largura do texto */
  color: white; /* Exemplo de cor para o texto */
}

a {
  color: #3cb371;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  color: #fff;
  border-color: #fff;
  border: 0.5px solid white;
  border-radius: 10px;
}

footer {
  color: #3cb371;
  text-align: center;
  font-style: italic;
}
li {
  padding: 8px;
}
