.barlow-thin {
  font-family: "Barlow", sans-serif;
  font-weight: 100;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Barlow;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #008080;
  align-items: center;
  padding: 10px;
  z-index: 2;
}

header h1 {
  color: white;
}

nav a:link {
  text-decoration: none;
  padding: 20px;
  color: white;
}

nav a:visited {
  color: black;
}

nav a:hover {
  color: #5f9ea0;
  font-size: 110%;
}

nav a:active {
  color: #c6e3c5;
}

header a:last-child {
  background-color: #5f9ea0;
  border-radius: 20px;
  padding: 13px;
}

#poema {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100vw;
  background-color: #5f9ea0;
  font-weight: bold;
}

#autor {
  font-weight: lighter;
  font-style: italic;
  margin-top: 10px;

  text-align: center;
}
#paisagem div {
  position: relative;
}

#paisagem img {
  width: 100vw;
  z-index: 1;
}
#paisagem a {
  text-decoration: none;
  position: absolute;
  bottom: 30px;
  right: 30px;
  color: white;
  font-size: 150%;
}

#cidades {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  background-color: #008080;
  font-weight: bold;
}

#cidades section {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  background-color: #5f9ea0;
  border-radius: 20px;
  overflow: hidden;
  flex-basis: 30%;
  box-sizing: border-box;
}

#cidades img {
  width: 100px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

#cidades div {
  width: 100px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#cidades section:hover {
  background-color: white;
}
